@keyframes caption-r {
  0% {
    transform: translatey(-100px);
    transform: translatex(20px);
    /* opacity: 1; */
  }
  
 
  30% {
    transform: translatey(0px);
    transform: translatex(0px);
    /* opacity: 1; */
  }
  
  80% {
    transform: translatey(0px);
    transform: translatex(0px);
    /* opacity: 1; */
  }
  100% {
    transform: translatey(0px);
    transform: translatex(0px);
    /* opacity: 1; */
  }
}
@keyframes caption-l {
  0% {
    transform: translatex(100px);
    transform: translatey(-20px);
    opacity: 0;
  }
  15%{opacity:1}
 
  30% {
    transform: translatex(0px);
    transform: translatey(10px);
    opacity: 1;
  }
  
  80% {
    transform: translatex(-100px);
    transform: translatey(-10px);
    opacity: 1;
  }
  100% {
    transform: translatex(0px);
    transform: translatey(10px);
    opacity: 0;
  }
}
.aniL{
  animation-name: caption-l;
  animation-duration: 12s;
  animation-timing-function:ease-in-out;
  @media (prefers-reduced-motion) {
    animation-name: none;
  }
}

.aniR{
  animation-name: caption-r;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

